*.iml
.gradle
.idea
.kotlin
yarn.lock
screenshots/
goals.text
result.yaml
result.yml
arbigent-result
arbigent-cache
arbigent.properties
test-arbigent.properties

build/

/.arbigent/settings.local.yml
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

/tmp