name: publish-ui

on:
  push:
    branches:
      - main
    tags:
      - '**'
  pull_request:

permissions:
  contents: write

env:
  GRADLE_OPTS: "-Dorg.gradle.jvmargs=-Xmx6g -Dorg.gradle.daemon=false -Dkotlin.incremental=false"

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - uses: actions/setup-java@v4
        with:
          distribution: 'jetbrains'
          java-version: '17'
          java-package: 'jdk' # optional (jdk, jre, jdk+jcef, jre+jcef, jdk+ft, or jre+ft) - defaults to jdk
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Gradle cache
        uses: gradle/gradle-build-action@a8f75513eafdebd8141bd1cd4e30fcd194af8dfa # v2

      - name: build
        id: build
        run: |
          ./gradlew arbigent-ui:packageReleaseDistributionForCurrentOS --stacktrace

      - uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4
        if: ${{ always() }}
        with:
          name: ${{ matrix.os }}-artifact
          path: |
            **/build/compose/**/*.dmg
            **/build/compose/**/*.msi
            **/build/compose/**/*.deb
          retention-days: 120
      - name: Release
        uses: softprops/action-gh-release@v2
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        with:
          files: |
            **/build/compose/**/*.dmg
            **/build/compose/**/*.msi
            **/build/compose/**/*.deb
