name: Apex Core Cloud Forge
on:
  workflow_dispatch:
    inputs:
      force_run:
        description: 'Force Ignition'
        required: false
        default: 'true'
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build with Buildozer
        uses: ArtemSerebennikov/buildozer-action@v1
        with:
          buildozer_version: master
          python_version: 3.11
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Apex-Core-v600
          path: bin/*.apk
